
a {
    text-decoration: none;
    font-style: none;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 64px;
    min-width: 375px;
}

.about-header {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 140px;
}

.about-title, .awards-header {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.about-underline {
    width: 100%;
    background-color: black;
    height: 1px;
    margin-bottom: 16px;
}

.about-body {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 100px;
}

.about-cody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.about-cody-bottom {
    font-size: 1.4rem;
    font-weight: 700;
}

.link, .award-title {
    color: black;
    font-style: italic;
    text-decoration: underline;
    transition: 0.1s ease all;
}

.link:hover, .award-link:hover .award-title {
    color: red;
}

.about-image {
    width: 35%;
    height: auto;
    border: 1px solid black;
}

.awards {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.awards-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.awards-body {
    display: flex;
    justify-content: space-between;
}

.award-link {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    padding: 24px 12px;
    border: 1px solid black;
    transition: 0.2s ease all;
}

.award-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award-link:hover{
    transform: scale(1.1);
}

.award-subtitle {
    margin-top: 10px;
    font-size: .7em;
    font-style: none;
    color: black;
}

@media (max-width: 768px) {
    .about-header {
        width: 80%;
    }

    .about-body {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .about-cody {
        width: 100%;
    }

    .about-cody-top {
        margin-bottom: 32px;
    }

    .about-image {
        margin-top: 32px;
        height: auto;
        width: 100%;
    }

    .awards {
        display: flex;
        width: 80%;
    }

    .awards-header {
        max-height: 64px;
        width: 100%;
    }

    .awards-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .award-link {
        margin-top: 16px;
        box-sizing: border-box;
        width: 100%;
    }
}

@media (min-width: 1500px) {
    .about-header, .about-body {
        width: 60%;
    }

    .awards {
        width: 50%;
        align-items: center;
    }
}