.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 4;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.header-name {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.header-link {
    margin-left: 16px;
    cursor: pointer;
    transition: font-size .3s ease;
}

.header-link:hover {
    font-size: 1.1rem;
    color: red;
}

@media (min-width: 1500px) {
    .header-body {
        width: 60%;
    }
}