#research {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.research-body {
    margin-top: 140px;
    width: 75%;
}

.current-work-title, .work-title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.research-underline {
    width: 100%;
    background-color: white;
    height: 1px;
}

.research-paragraph {
    line-height: 1.6rem;
}

#full-research-statement {
    margin-top: 48px;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 48px;
}

.research-link {
    color: white;
}

.work-dropdown {
    margin-bottom: 48px;
}

.work-header {
    cursor: pointer;
}

.work-title {
    transition: 0.3s ease all;
}

.work-header:hover .work-title, .visible-title{
    color: red;
}

.work-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-arrow {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(60%) saturate(2%) hue-rotate(123deg) brightness(114%) contrast(101%);
}

.down-arrow-container {
    transition: 1.2s ease all;
}

.down-arrow-container.rotate-arrow {
    transform: rotate(-180deg);
}

.work-paragraph-container.hidden {
    max-height: 0;
    overflow: hidden;
    transition: 1.2s max-height ease;
}

.work-paragraph-container.visible {
    max-height: 1000px;
    overflow: hidden;
    transition: 2.5s max-height ease;
}